*::before,
*::after,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
  scroll-padding-top: 70px;
}

.top {
  position: absolute;
  top: 0;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #ebecf2;
  color: white;
}

.transform {
  position: absolute;
  bottom: 0.1em;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container {
  position: relative;
}

.container-md {
  z-index: 10;
}

.navbar {
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  z-index: 20;
  font-size: 13px;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  color: #FFF;
  font-size: 15px;
  padding: 0.5em 0;
}

.navbar-brand i {
  margin-right: 0.5em;
}

.navbar-brand .last-word-title {
  color: limegreen;
}

.navbar-nav .active {
  color: lime;
  scroll-padding-top: 80px;
}

.nav-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFF;
}

.nav-link:hover {
  color: limegreen;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3%;
  -webkit-transition: width .4s;
  transition: width .4s;
  background-color: lime;
}

.nav-link:hover::after {
  position: absolute;
  width: 100%;
}

.navbar-toggler-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.navbar-toggler-icon i {
  font-size: 1.3em;
  color: #FFF;
}

.navbar-toggler {
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: #FFF;
}

.last {
  padding-bottom: 30px;
}

.background {
  background-color: rgba(0, 0, 0, 0.7);
}

.welcome-header {
  position: relative;
  background-image: url(../files/images/bg_3_small.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 100%;
}

.header-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.header-img .send-down {
  padding: 0.5em 1em;
  background-color: transparent;
  border: 2px solid #FFF;
  color: #FFF;
  border-radius: 5px;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
}

.send-down:hover {
  background-color: #FFF;
  color: black;
}

.header-text {
  padding: 0.5em;
  text-align: center;
}

.header-text p {
  margin-bottom: 10px;
}

.header-text h1 {
  text-transform: uppercase;
  font-size: 24px;
}

.header-text h1 .last-word-title {
  color: lime;
}

.bg-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.icon-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-down i {
  position: absolute;
  bottom: 0.1em;
  padding: 0.5em;
  font-size: 3em;
  font-weight: bold;
  color: #FFF;
  -webkit-animation: 1.5s pulseIcon linear infinite;
          animation: 1.5s pulseIcon linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.row {
  margin-top: 50px;
}

.about-us {
  color: black;
}

.about-us i {
  font-size: 5em;
}

.row .aboutus-hover {
  -webkit-transition: color .2s;
  transition: color .2s;
}

.row [data-aos*="zoom-in"] {
  -webkit-transition: .3s;
  transition: .3s;
}

.row .aboutus-hover:hover {
  color: limegreen;
}

.about-us-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.1em 0;
  text-transform: uppercase;
}

.underline {
  width: 2em;
  height: 0.4vh;
  background-color: lime;
  margin: 0 auto;
}

.aboutus-card-title {
  font-size: 1.8em;
  text-transform: uppercase;
}

.aboutus-card-text {
  font-size: 1.4em;
}

.aboutus-2 {
  position: relative;
  background-image: url(../files/images/bg_5_small.jpg);
  background-attachment: fixed;
  background-size: cover;
  z-index: 10;
}

.aboutus-2 i {
  font-size: 5em;
}

.aboutus-2 .aboutus-2-card-title {
  font-size: 1.8em;
  text-transform: uppercase;
}

.aboutus-2 .aboutus-2-card-text {
  font-size: 1.4em;
}

.aboutus-2 .aboutus-2-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.1em 0;
  text-transform: uppercase;
  text-align: center;
}

.aboutus-2 .underline-portfolio {
  width: 4em;
  height: 0.4vh;
  background-color: lime;
  margin: 0 auto;
}

.aboutus-2 .bg-shadow-aboutus-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -5;
}

.aboutus-2 [data-aos*="fade"] {
  -webkit-transition: .3s;
  transition: .3s;
}

.portfolio {
  position: relative;
}

.portfolio .portfolio-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.1em 0;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.portfolio .underline-portfolio {
  width: 4em;
  height: 0.4vh;
  background-color: lime;
  margin: 0 auto;
}

.portfolio .carousel-item {
  height: 600px;
  background-position: 50% 90%;
}

.carousel {
  position: relative;
  padding: 5em 0 4em 0;
}

.carousel .bg-shadow-portfolio {
  position: absolute;
  bottom: 2em;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.carousel .portfolio-card-title {
  padding-top: 1.2em;
  font-size: 1.9em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.carousel .portfolio-card-text {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 1.4em;
  text-align: center;
}

.carousel .carousel-button {
  position: absolute;
  bottom: 4em;
  z-index: 11;
}

.carousel .carousel-indicators {
  padding: 2em 0;
}

.bg-1 {
  background-image: url(../files/images/bg_6_small.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.bg-2 {
  background-image: url(../files/images/bg_7_small.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4em 0;
}

.responsive h2 {
  text-transform: uppercase;
  padding: 0.3em 0;
}

.responsive .card {
  margin: 0 2em;
  color: black;
}

.responsive .card .card-text {
  font-size: 1.3em;
}

.prices {
  color: black;
}

.prices .prices-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.1em 0;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.prices .prices-portfolio {
  width: 2em;
  height: 0.4vh;
  background-color: lime;
  margin: 0 auto;
}

.prices .prices-box {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 5px 5px 15px gray;
          box-shadow: 5px 5px 15px gray;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  padding: 30px;
}

.prices .prices-box p {
  text-align: center;
  font-size: 1.5em;
}

.prices .prices-box h2 {
  font-weight: bold;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1em 0 0.5em 0;
  color: limegreen;
}

.prices .prices-box .btn-order {
  width: 200px;
  margin: 1em 0;
  padding: 1em 1.5em;
  font-size: 1.7em;
  border-radius: 7px;
  color: #FFF;
}

.prices .prices-box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.prices p {
  font-size: 1.5em;
}

.prices .siur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prices .price-cash {
  font-weight: bold;
}

.prices .prices-text-bold {
  font-weight: bold;
}

.prices .prices-icon i {
  margin: 0 0.2em;
}

.prices .prices-text-info {
  font-size: 1.8em;
}

.prices .contact-message {
  position: relative;
  color: limegreen;
  font-weight: bold;
  padding: 0.3em 0;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.prices .contact-message:hover {
  color: #FFF;
  z-index: 2;
}

.prices .contact-message::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: limegreen;
  -webkit-transition: height .3s;
  transition: height .3s;
}

.prices .contact-message:hover::before {
  height: 90%;
  color: #FFF;
  z-index: -1;
}

.prices [data-aos*="flip-right"] {
  -webkit-transition: .3s;
  transition: .3s;
}

.team {
  position: relative;
  background-image: url(../files/images/office_team.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: black;
  z-index: 10;
}

.team .team-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.1em 0 0 0;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.team .team-underline {
  width: 4em;
  height: 0.5vh;
  background-color: lime;
  margin: 0 auto;
}

.team .card-group-team {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team .card-group-team .card {
  position: relative;
  margin: 1em;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  height: 90vh;
}

.team .card-group-team .card:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.team .card-group-team h3 {
  text-transform: uppercase;
  padding: 0.5em 0;
  text-align: center;
}

.team .card-text {
  font-size: 1.5em;
}

.team .text-muted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5em 0;
}

.team .card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.4em;
}

.team .card-footer i {
  padding: 0.5em;
  font-size: 1.5em;
  color: #0d6efd;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.team .card-footer i:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.team .card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .bg-shadow-team {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -2;
}

.achievements {
  color: black;
}

.achievements .achievements-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.1em 0;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.achievements .achievements-underline {
  width: 4em;
  height: 0.4vh;
  background-color: lime;
  margin: 0 auto;
}

.achievements .achievements-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievements .achievements-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievements i {
  padding: 0.5em 0;
  font-size: 5em;
  color: #FFF;
  text-shadow: 0 0 3px black;
}

.achievements h2 {
  font-size: 3em;
  text-transform: uppercase;
}

.achievements .achievements-text {
  padding: 0.5em 0;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
}

.achievements [data-aos*="fade"] {
  -webkit-transition: .3s;
  transition: .3s;
}

.contact {
  margin-top: 59px;
  position: relative;
  background-image: url(../files/images/skyline-1869214_1920.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #f7eaea;
  z-index: 1;
}

.contact .contact-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.1em 0;
  text-transform: uppercase;
}

.contact .contact-underline {
  width: 4em;
  height: 0.4vh;
  background-color: #f7eaea;
  margin: 0 auto;
}

.contact h2 {
  text-transform: uppercase;
}

.contact p {
  font-size: 1.5em;
}

.contact i {
  font-size: 3em;
  padding: 0.5em;
  color: #f7eaea;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.contact i:hover {
  color: #a8a6a6;
}

.contact .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .bg-shadow-team {
  position: absolute;
  bottom: 0.5px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

.footer {
  padding: 2.5em 0;
}

.footer p {
  font-size: 1.7em;
}

@media (min-width: 300px) {
  .navbar {
    padding: 0.3em 1em;
  }
  .navbar-nav {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    text-align: center;
  }
  .header-img p {
    font-size: 15px;
  }
  .header-img .send-down {
    font-size: 15px;
  }
  .header-img h1 {
    font-size: 25px;
  }
  .responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row-special {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prices .prices-text-info {
    padding: 0 2em;
  }
  .prices .prices-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prices .prices-box {
    width: 60%;
  }
  .prices .siur .btn-order {
    font-size: 1.45em;
    padding: 0.5em 1em;
    text-align: center;
  }
  .price-cash {
    font-size: 1.5em;
  }
  .team .container-md {
    padding: 0 6em;
  }
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0.2em;
  }
}

@media (min-width: 350px) {
  .navbar-brand {
    font-size: 18px;
  }
  .navbar-toggler {
    padding: 1rem;
  }
  .navbar-toggler i {
    font-size: 23px;
  }
}

@media (min-width: 400px) {
  .navbar {
    font-size: 16px;
  }
  .underline {
    width: 4em;
  }
  .aboutus-2 .underline-portfolio {
    width: 6em;
  }
  .aboutus-2-card-title {
    font-size: 2.1em;
  }
  .aboutus-2-card-text {
    font-size: 1.6em;
  }
}

@media (min-width: 576px) {
  .container-md {
    padding: 0 7.5px;
  }
  .responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .responsive .card-title {
    font-size: 1.8em;
  }
  .prices .prices-text-info {
    padding: 0;
  }
  .prices .container-md {
    padding: 0 3em;
  }
  .prices .prices-portfolio {
    width: 3em;
    height: 0.4vh;
    background-color: lime;
    margin: 0 auto;
  }
  .prices .prices-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .prices .siur .btn-order {
    width: 200px;
    font-size: 1.5em;
    padding: 1em 2em;
    text-align: center;
  }
  .prices .prices-box {
    width: 45%;
  }
  .team .container-md {
    padding: 0 7.5px;
  }
  .team .card-group-team .card {
    height: 60vh;
  }
}

@media (min-width: 768px) {
  .welcome-header {
    background-image: url(../files/images/bg_3_big.jpg);
    background-attachment: fixed;
    background-size: cover;
  }
  .header-img p {
    font-size: 15px;
  }
  .header-img .send-down {
    font-size: 15px;
  }
  .header-img h1 {
    font-size: 35px;
  }
  .icon-down i {
    font-size: 4em;
  }
  .navbar {
    font-size: 18px;
  }
  .navbar-brand {
    font-size: 20px;
    padding: 0.5em 0;
  }
  .navbar-toggler i {
    font-size: 25px;
  }
  .aboutus-2 {
    background-image: url(../files/images/bg_5_big.jpg);
  }
  .bg-1 {
    background-image: url(../files/images/bg_6_big.jpg);
  }
  .bg-2 {
    background-image: url(../files/images/bg_7_big.jpg);
    background-position: 50% 50%;
    background-size: cover;
  }
  .prices .container-md {
    padding: 0 7.5px;
  }
  .price-cash {
    font-size: 2em;
  }
}

@media (min-width: 992px) {
  nav {
    height: 70px;
  }
  nav .nav-link {
    line-height: 70px;
  }
  nav .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3%;
    bottom: 1.5em;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .navbar-nav {
    background-color: transparent;
    -webkit-transform: none;
            transform: none;
  }
  .navbar {
    font-size: 15px;
  }
  .navbar-brand {
    font-size: 18px;
    padding: 1em 0;
  }
  .header-img p {
    font-size: 18px;
  }
  .header-img .send-down {
    font-size: 18px;
  }
  .header-img h1 {
    font-size: 40px;
  }
  .responsive {
    display: none;
  }
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 1.5em;
  }
}

@media (min-width: 1199px) {
  .carousel .carousel-button {
    padding: 2em 0;
    position: absolute;
    bottom: 4em;
    z-index: 11;
  }
}

@media (min-width: 1200px) {
  .prices .prices-box {
    width: 30%;
  }
}

@-webkit-keyframes borderBottom {
  0% {
    position: absolute;
    width: 0;
  }
  25% {
    position: absolute;
    width: 25%;
  }
  50% {
    position: absolute;
    width: 50%;
  }
  75% {
    position: absolute;
    width: 75%;
  }
  100% {
    position: absolute;
    width: 100%;
  }
}

@keyframes borderBottom {
  0% {
    position: absolute;
    width: 0;
  }
  25% {
    position: absolute;
    width: 25%;
  }
  50% {
    position: absolute;
    width: 50%;
  }
  75% {
    position: absolute;
    width: 75%;
  }
  100% {
    position: absolute;
    width: 100%;
  }
}

@-webkit-keyframes pulseIcon {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulseIcon {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */